body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2c38c5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header {
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.container label {
    margin-top: 10px;
    font-weight: bold;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.account-type {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button:hover {
    background-color: rgba(21, 2, 2, 0.1);
    color: black;
}

.the-button {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    background-color:#4646d7;
    color:aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}