
body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

h1 {
    color: #07294D;
    margin-bottom: 20px;
}

form label {
    margin-top: 15px;
    display: block;
    font-weight: 500;
    color: #07294D;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center; 
}

form input:disabled {
    background-color: #f2f2f2;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #07294D;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #054280;
}

input:focus, select:focus {
    outline: none;
    border-color: #07294D;
    box-shadow: 0 0 5px rgba(7, 41, 77, 0.3);
}
