#top-bar {
    padding: 5px 10px 5px 15px;
    margin: 5px 10px 5px 15px;
    font-size: 25px;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 100;

}

#top-bar a {
    margin-right: 40px;
}

#intro-section, #co-op-status, #alerts {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#dragon {
    width: 150px;
    height: auto;
    transform-origin: left;
}

#co-op-status-text {
    font-size: 28px;
    margin-bottom: 10px;
}