<nav id="top-bar">
    <ul class="nav-menu">
        <li><button class="add-btn message-btn btn"><a href="/co-op-portal-project-cs-375/src/employerPages/JobPosts.html">Main Page</a></button></li>
        <li><button class="add-btn message-btn btn"><i class="fa fa-envelope-o"></i> Messages</button></li>
        <li><button class="add-btn btn" onclick="window.showForm()"><i class="fa fa-plus"></i> Create job post</button></li>
        <li><button class="add-btn profile-btn btn"><i class="fa fa-user"><a href="/co-op-portal-project-cs-375/src/employerPages/ProfilePage.html"> Profile</a></i></button></li>
    </ul>
</nav>