<nav id="top-bar">
    <ul class="nav-menu">
        <li><a href="#" id="main-page-link"><button><i class="fa fa-home"></i> Main Page</button></a></li>
        <li><button><i class="fa fa-envelope-o"></i> Messages</button></li>
        <li><button onclick="window.showForm()" id="create-button"><i class="fa fa-plus"></i> Create job post</button></li>
        <li><a href="/co-op-portal-project-cs-375/src/employerPages/ProfilePage.html"><button><i class="fa fa-user"></i> Profile</button></a></li>
        <li><a href="/co-op-portal-project-cs-375/src/sign-in/login.html" id="logout-button"><button><i class="fa fa-sign-out"></i>Logout</button></a></li>
    </ul>
</nav>