#intro-section, #co-op-status, #alerts {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#dragon {
    width: 150px;
    height: auto;
    transform-origin: left;
}

#co-op-status-text {
    font-size: 28px;
    margin-bottom: 10px;
}